/* custom visual styles */

body {
  background: #efefef;
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
}

h1, h2 { text-align: center; }

.demo {
  width: 80vw;
  margin: 5em auto;
}

.demo details pre {
  outline: 1px solid #777;
}

/* Default row styles */

.demo .grct > * {}

/* Default cell styles */

.demo [class^='grr'] > * {
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.10);
  color: #777;
  display: flex;
  font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
  justify-content: center;
  padding: 0.5em 0.25em;
  text-align: center;
}

.demo [class^='grr'] > *:hover, .grc:hover, [class^='grc--']:hover {
  background: rgba(255, 255, 255, 1);
  color: #000;
}

/* Demo-specific styles */

/**
 * Each row in #regular, #fractional, and #centered is its own grid, so the
 * grid-gap property doesn't apply.
 */
#regular + .grct > * { margin: var(--gr-gap) 0; }

#fractional + .grct > * { margin: var(--gr-gap) 0; }

#centered + .grct > * { margin: var(--gr-gap) 0; }

#custom + .grct { --gr-gap: 5px; }

@media screen and (min-width: 600px) {
  #custom + .grct > * { grid-auto-rows: 2em; }

  #custom + .grct .grc--1-8:last-child { grid-area: 4/25/4/49; }
}

@media screen and (min-width: 900px) {
  #custom + .grct > * { grid-auto-rows: 4em; }

  #custom + .grct .grc--1-3 { grid-row-start: 1; grid-row-end: 2; }

  #custom + .grct .grc--full { grid-row-start: 2; grid-row-end: 6; }

  #custom + .grct .grc--1-2:nth-child(5) { grid-row-start: 6; grid-row-end: 9; }

  #custom + .grct .grc--1-2:nth-child(6) { grid-row-start: 6; grid-row-end: 8; }

  #custom + .grct .grc--1-8:last-child { grid-area: 8/43/8/49; }
}
