/**
 * @file
 * Sass functions for Grrids project.
 */
/**
 * Determines background width used to display grid columns for debugging.
 *
 * @param Number $columns: The number of columns to divide the row background
 *   into. Default: 24.
 * @return Number: the percentage width to make the background image.
 */
/**
 * Returns the width, in grid columns, of a particular fraction.
 *
 * @param Number $numerator: the numerator of the fractional width of a row.
 * @param Number $denominator: the denominator of the fractional width of a row.
 * @return Number: The number of grid columns a certain fraction is equiavalent
 *   to. So, for 2/3 of a 48 column grid, the function returns 32.
 */
/**
 * Returns a grid-area value for centering a single cell in a grid row.
 *
 * For example, to center a 1/12 cell in a row, we'd use:
 *
 *   grid-area: get-grid-area(12);
 *
 * In the compiled css, this would appear as:
 *
 *   grid-area: 1/23/1/27;
 *
 * The calculations are:
 *
 * start = (deonominator - 1) / denominator * columns / 2 + 1
 * end = start + columns / denominator
 *
 * For 1/12, this would be
 *
 * $start: ((12 - 1) / 12 * 48 / 2) + 1 = 23
 * $end: 23 + 48 / 12 * 1 = 27
 *
 * @param Number $numerator: the numerator of the fractional width of the cell
 *   to center. So, to center a 1/12-width cell, this would be 1.
 * @param Number $denominator: the denominator of the fractional width of the
 *   cell to center. So, to center a 1/12-width cell, this would be 12.
 * @return String: A grid-area declaration for a single row. So for a 1/12-with
 *   cell, this would be '1/23/1/27'.
 */
:root {
  --gr-debug-color-1: 186, 171, 189;
  /* #baabbd */
  --gr-debug-color-2: 201, 201, 238;
  /* #c9c9ee */
  --gr-debug-transparency: 0.3;
  --gr-debug-row-outline-color: pink;
  --gr-debug-cell-outline-color: green;
}

/**
 * The default is the full 48 column grid.
 */
.grct[class*=grg__debug] {
  background-image: linear-gradient(90deg, rgba(var(--gr-debug-color-1), var(--gr-debug-transparency)) 0%, rgba(var(--gr-debug-color-1), var(--gr-debug-transparency)) 50%, rgba(var(--gr-debug-color-2), var(--gr-debug-transparency)) 50%, rgba(var(--gr-debug-color-2), var(--gr-debug-transparency)) 100%);
  background-size: 4.1666666667%;
}

.grct.grg__debug--twenty-fourths {
  background-size: 8.3333333333%;
}

.grct.grg__debug--twelfths {
  background-size: 16.6666666667% 100%;
}

.grct.grg__debug--eighths {
  background-size: 25% 100%;
}

.grct.grg__debug--sixths {
  background-size: 33.3333333333% 100%;
}

.grct.grg__debug--quarters,
.grct.grg__debug--fourths {
  background-size: 50% 100%;
}

.grct.grg__debug--thirds {
  background-size: 66.6666666667% 100%;
}

.grct.grg__debug--halves {
  background-size: 100% 100%;
}

[class^=grr].grr__debug {
  outline: 1px solid var(--gr-debug-row-outline-color);
  outline-offset: 2px;
}

[class^=grr].grc__debug > * {
  outline: 1px solid var(--gr-debug-cell-outline-color);
}
